.features-section {
  padding: 100px 0;
  background: var(--bg-secondary);
}

/* Title */
.features-title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 12px;
  color: black;
}

.features-subtitle {
  margin-top: 10px;
  font-size: 16px;
  color: var(--text-secondary);
  margin-bottom: 48px;
}

/* Card */
.feature-card {
  background: var(--bg-card);
  padding: 48px 32px;
  border-radius: var(--radius-lg);
  text-align: center;
  height: 100%;
  transition: all var(--transition);
  box-shadow: var(--shadow-card);
  border: 1px solid var(--border-color);
}

.feature-card:hover {
  transform: translateY(-12px);
  box-shadow: var(--shadow-card-hover);
  border-color: var(--accent-purple);
}

/* Icon */
.feature-icon {
  width: 72px;
  height: 72px;
  margin: 0 auto 22px;
  border-radius: var(--radius-lg);
  background: var(--accent-gradient-btn);

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition);
}

/* ADD THIS */
.feature-icon svg {
  color: white;
  stroke: white;
}

.feature-card:hover .feature-icon {
  transform: scale(1.15) rotate(-6deg);
}

/* Text */
.feature-card h5 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 14px;
  color: var(--text-secondary);
  line-height: 1.6;
  margin: 0;
}